version: "3"

services:
  digicoreapi_v3:
    image: ghcr.io/sit-digicre/digicore_v3_backend:master
    volumes:
      - "./config/gcp_secret.json:/config/gcp_secret.json"
    env_file:
      - ".env"
    networks:
      - https_network
      - digicoreapi
    restart: always

  db:
    image: mysql:8.0.33
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - "db_data:/var/lib/mysql"
      - "./config/my.conf:/etc/mysql/conf.d/my.cnf"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      TZ: Asia/Tokyo
    restart: always
    networks:
      - digicoreapi

  admin:
    build:
      dockerfile: "./Dockerfile"
      target: "admin"
    volumes:
      - "./:/app"
    env_file:
      - ".env"
    networks:
      - digicoreapi

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.3
    environment:
      PMA_HOST: db
    networks:
      - https_network
      - digicoreapi
    restart: always

volumes:
  db_data:

networks:
  https_network:
    external: true
  digicoreapi:
    external: true
